# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

../.vs
.vs
.vscode

# solution related files
*.user
*.suo
*.orig
*.build.csdef
*.sln.DotSettings
appsettings.Development.json