
// Colors
$white: #f5f5f5;
$grey: #e7e7e7;
$blue: #2d545e;
$dark-blue: #12343b;
$tan: #e1b382;
$dark-tan :#c89666;
$box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);

// Fonts
$oswald: 'Oswald', sans-serif;
$sigmar-one: 'Sigmar One', cursive;

//Sizing
$spacing-size1: 24px;
$spacing-size2: 12px;
